export(anom,
       anomPlot,
       AGRdiff,
       calcLagged,
       corrPlot,
       cumulate,
       designFactors,
       fitSpline,
       getDates,
       imagetimesPlot,
       importExcel,
       intervalGRaverage,
       intervalGRdiff,
       intervalPVA,
       intervalValueCalculate,
       intervalWUI,
       longiPlot,
       longitudinalPrime,
       PGR,
       probeDF,
       PVA,
       RGRdiff,
       rcontrib,
       splitContGRdiff,
       splitSplines,
       splitValueCalculate,
       twoLevelOpcreate,
       WUI)
importFrom(grid, grid.newpage)
importFrom(grid, grid.layout)
importFrom(grid, pushViewport)
importFrom(grid, viewport)
importFrom(stats, smooth.spline)
importFrom(stats, na.omit)
importFrom(stats, predict)
importFrom(stats, weighted.mean)
importFrom(Hmisc, rcorr)
importFrom(GGally, ggpairs)
importFrom(reshape, melt)
importFrom(utils, read.csv)
import(dae, ggplot2, XLConnect, RColorBrewer)
